@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.clr {
  clear: both;
}
.header {
  padding: 30px;
  background-color: #0f3460;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 1428px;
  margin: 0 auto 3px auto;
  box-shadow: 0px 4px 8px 0 #564d4d;
  position: sticky;
  top: 0;
}
.header_nav {
  width: max-content;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
}
.header_list {
  list-style: none;
}
.header_item {
  float: left;
}
.btn {
  color: #dcdcdc;
  width: 60%;
  display: block;
  margin: 0 60px;
  border: 1px solid white;
  background: #e94560;
  font-family: "Rubik";
  font-weight: 700;
  padding: 12px 15px;
  border-radius: 2px;
  /* border: none; */
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.2em;
}
.btn:hover {
  background-color: #dcdcdc;
  color: #0f3460;
  transition: 0.2;
}

#main-card {
  box-shadow: 0px 4px 8px 0 #564d4d;
  transition: 0.3s;
  max-width: 1428px;
  border-radius: 10px;
  margin: 6px 6px 3px 6px;
  background-color: #16213e;
  padding: 40px 0 20px 0;
}

#profile-img {
  max-width: 225px;
  padding: 20px;
  display: block;
  border-radius: 30px;
  margin: auto;
  transition: all 0.3s ease-in-out 0s;
}
#profile-img:hover {
  box-shadow: 0 0 8px 0 #ffffff;
  transform: rotate(360deg);
}

#container {
  padding: 1px 0 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 150px;
}
#container h1 {
  font-family: "Rubik", "Roboto", Arial, Helvetica, sans-serif;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  padding-top: 30px;
}
#container h3 {
  font-family: "Rubik";
  font-weight: 400;
  line-height: 1em;
  padding-top: 4px;
  text-align: center;
  color: #dcdcdc;
  font-size: 22px;
}
#column {
  max-width: 1428px;
  margin-left: 6px;
  margin-right: 6px;
}
#card-left {
  margin: 3px 0 3px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #564d4d;
  text-align: center;
  background-color: #0f3460;
  color: #c3c3c3;
  height: 420px;
  float: left;
  width: 711px;
}
#card-right {
  margin: 3px 0px 3px 0px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #564d4d;
  text-align: center;
  background-color: #0f3460;
  color: #c3c3c3;
  height: 420px;
  float: right;
  width: 711px;
}
#card-right:hover,
#card-left:hover,
#footer-card:hover {
  box-shadow: 0 4px 16px 0 #000000;
}
.about-left {
  line-height: 1.6em;
  font-family: "Rubik";
  text-align: center;
  padding: 45px;
  font-size: 18px;
}
.about-right {
  line-height: 1.6em;
  font-family: "Rubik";
  text-align: center;
  padding: 45px;
  font-size: 18px;
}
#footer-card {
  margin-top: 3px;
  margin-bottom: 6px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #564d4d;
  text-align: center;
  background-color: #e94560;
  color: #ffffff;
  height: 94px;
}
#footer-card p {
  padding-top: 40px;
}
#footer-card a {
  font-family: "Rubik";
  font-size: 16px;
  margin: 0 10px 0 10px;
  color: #ffe4c4;
  text-decoration: none;
  line-height: 0;
}
