@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap");
* {
  --main-font: "Fira Sans";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #eaeaea;
  font-family: var(--main-font);
  font-weight: 300;
  height: 100vh;
  width: 100vw;
}
.search-container {
  background-color: #3c4048;
  height: 15vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 300px;
  height: 30px;
  font-family: var(--main-font);
}
.btn {
  height: 30px;
  width: 100px;
  margin-left: 3px;
  font-family: var(--main-font);
  background-color: #00abb3;
  border-style: hidden;
}
.btn:hover {
  background-color: #b2b2b2;
}
.btn:active {
  background-color: #9c9898;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 22.22vw;
  height: 350px;
  margin: 10px 20px;
  text-align: center;
  border-radius: 8px;
  background-color: #00abb3;
}
.user-login {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0 7px 0;
}

.img {
  width: 200px;
  height: 200px;
}

.user-name {
  margin-top: 20px;
  height: 30px;
  width: 200px;
}
.repos {
  margin-top: 10px;
  height: 30px;
  width: 200px;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  display: none;
}
