.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.form {
  width: 400px;
  height: 200px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  padding-top: 30px;
}
.nameAge {
  width: 100%;
  display: flex;
  margin-left: 8%;
  justify-content: left;
}
.div1,
.div2 {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 14px;
  text-align: left;
}

form input {
  margin-bottom: 10px;
  height: 22px;
  text-align: center;
}
input[type="email"] {
  width: 360px;
  text-align: left;
}
.age-input {
  width: 60px;
}
.name-input {
  margin-right: 12px;
  width: 280px;
}

.submit-btn {
  height: 40px;
  width: 80px;
  margin-top: 20px;
}

.pop-msg {
  padding: 0;
  margin: 0;
  color: red;
  font-size: 14px;
}
.confirm-cont {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.confirmBox {
  background-color: grey;
  width: 400px;
  height: 230px;
  text-align: center;
  display: none;
  margin-top: 50px;
}

.pReview {
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 14px;
}

.span-btn {
  margin-top: 40px;
}
span {
  cursor: pointer;
  margin-right: 20px;
}

.no:hover {
  color: rgb(234, 38, 38);
}
.confirm:hover {
  color: white;
}

.confirmed {
  background-color: grey;
  width: 400px;
  height: 230px;
  text-align: center;
  display: none;
  margin-top: 50px;
}

.confirmed-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 35px;
}
