* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tooltip {
  position: relative;
  cursor: pointer;
  border-bottom: 2px dotted;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 23px;
}
#tooltip-text {
  color: white;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 0;
  top: 0;
  background-color: coral;
  padding: 10px 18px;
  border-radius: 5px;
  opacity: 0;
}
#tooltip-text::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 20%;
  border: 20px solid;
  border-color: coral #0000 #0000 #0000;
  z-index: -1;
}
#tooltip:hover #tooltip-text {
  top: -200%;
  visibility: visible;
  opacity: 1;
}
