.BoxThree {
  text-align: center;
  height: 85%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: rgb(244, 106, 196);
}
