* {
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stop-watch {
  width: 400px;
  height: 300px;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.watch-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 400px;
}

.box {
  height: 50px;
  width: 60px;
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: aliceblue;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.start {
  background-color: darkslateblue;
  margin-right: 10px;
  color: aliceblue;
  padding: 5px 8px;
  border: 1px solid black;
  border-radius: 5px;
}
.stop {
  background-color: darkslateblue;
  margin-right: 10px;
  color: aliceblue;
  padding: 5px 8px;
  border: 1px solid black;
  border-radius: 5px;
}
.stop:hover {
  background-color: whitesmoke;
  color: black;
}
.start:hover {
  background-color: whitesmoke;
  color: black;
}
