.App {
  text-align: center;
}
.box1 {
  animation: slide1 3s ease-in-out forwards;
  background-color: #00000000;
}

@keyframes slide1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(400px);
  }
}
