* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.box {
  position: relative;
  background-color: coral;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 5%;
}
.box::after {
  position: absolute;
  content: "";
  background-color: black;
  width: 300px;
  height: 300px;
  border-radius: 5%;
  transform: translate(100%, 0);

  transition: all 1.5s ease;
}
.box:hover::after {
  transform: translate(0, 0);
}
