* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #10476e;
  color: #4ac395;
  text-align: center;
  font-size: calc(14px + (60 - 14) * ((60vw - 200px) / (800 - 200)));
}
#practice {
  margin: 120px auto;
}
h2 {
  margin: 100px;
}

body {
  font-size: calc(
    [minimum size] + ([maximum size] - [minimum size]) *
      (
        (100vw - [minimum viewport width]) /
          ([maximum viewport width] - [minimum viewport width])
      )
  );
}
